<div class=post-content>
  <%= @post.content %>
</div>
<ul>
<%= form_for post do |f| %>
  <li><%= f.label "Title" %>
  <%= f.text_field :title %></li>
  <li><%= f.label "Content" %>
  <%= f.text_field :content %></li>
  <li><%= f.label :categories %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %></li>
  <li><%= f.fields_for :categories, post.categories.build do |categories_fields| %>
    <%= categories_fields.text_field :name %>
  <% end %></li>
  <p><%= f.submit %></p>
<% end %>
</ul>